<footer id="main-footer">
        <div class="container">
          <p>
          我的：
          <a href="http://blog.csdn.net/ldl_xz" target="_blank">csdn博客</a>
          | <a href="http://www.cnblogs.com/rin9958/" target="_blank">博客园</a>
          | <a href="http://ldl-xz.iteye.com/" target="_blank">iteye博客</a>
          | <a href="https://github.com/9958" target="_blank">github</a>
          | <a href="http://my.oschina.net/u/1179286" target="_blank">开源中国博客</a>
          | <a href="http://blog.chinaunix.net/uid/30959623.html" target="_blank">ChinaUnix博客</a>
              | <a href="{{site_url}}/sitemap.html" target="_blank" title="网站地图">网站地图</a> 
              | <a href="{{site_url}}/sitemap.xml" target="_blank" title="sitemap">sitemap</a> 
          </p>
          <p>
          Copyright © Rin部落 All Rights Reserved   
          <a href="http://www.miitbeian.gov.cn/" target="_blank">沪ICP备14000208号</a>
          <script src="http://s11.cnzz.com/stat.php?id=5320846&web_id=5320846" language="JavaScript"></script></p>
        </div>
        </footer>
    
    <div class="top">↑
    </div>
    
    
    
      </body>
      <script type="text/javascript">
    $(document).ready(function(){
    $(window).scroll(function(){
    if($(this).scrollTop()>100){
    $('.top').fadeIn();}
    else{
    $('.top').fadeOut();} });
    $('.top').click(function(){
    $('body,html').animate({scrollTop:0},800);});
    });
    
    </script>
          <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?0224451f8df22a9bcbff7232d2df85d5";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
    <script src="{{site_url}}/public/js/main.js"></script>
    </html>
    