<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title>{{title}}-web前端开发-主流web技术分享博客</title>
    <meta name="robots" content="all">
    <meta name="keywords" content="{{keywords}}">
    <meta name="description" content="{{description}}">
    <link rel="stylesheet" href="/public/css/front.style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    
    <meta name="baidu-site-verification" content="utxPb5ydcW" />
    <meta property="qc:admins" content="10415174750607" />
    <meta name="chinaz-site-verification" content="081e7651-48c6-4c2f-a569-99321685eab1" />
    <meta name="baidu_union_verify" content="5bd4efaab2b868a82ad01ad3c4c67446">
    <meta name="360-site-verification" content="9960df046c193b7babccae771f010ddb" />
    <meta name="google-site-verification" content="l1xhngXylrg37GJctu8fibfunA-tkIg088VO8pr3ghc" />
    <!--[if IE]>
    <script src="{{site_url}}/public/js/html5.js"></script>
    <![endif]-->
	<script src="{{site_url}}/public/js/jquery.min.js"></script>
  
  </head>
  <body>
    <div class="navbar navbar-default">
        <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/" title="rin部落">
                    <span class="logo">
                     rin部落
                    </span>
                  </a>
                </div>
              <div class="collapse navbar-collapse navbar-collapse-nav" style="height:0px;">
                    <ul class="nav navbar-nav navbar-right">
                          <li><a href="{{site_url}}/page/about" title="关于我">关于我</a></li>
                          <li><a href="{{site_url}}/archives" title="文章存档">文章存档</a></li>
                          <li id="onlineTool"><a href="http://tool.9958.pw/" title="在线工具">在线工具</a></li>
                          <li id="siteNav"><a href="{{site_url}}/nav" title="网址导航">网址导航</a></li>
                    </ul>
                </div>
          </div>
    </div>