
<div class="block">
        
          <div class="widget about">
            <strong class="wt">云标签</strong>
            <div class="wc" style="overflow: visible;">
                <div id="div1" style="overflow: hidden;">
                        {% for item in tags %}
                           <a href="{{site_url}}/tag/{{item.title}}"  title="{{item.title}}" >{{item.title}}</a>
                        {% endfor %}
                    <%}}}
                </div>
              <div class="sep10"></div>
            </div>
          </div>
        </div>
         <script src="{{site_url}}/public/js/miaov.js"></script>